USE [homegenie]
GO
/****** Object:  StoredProcedure [dbo].[fetch_user]    Script Date: 05-06-2024 19:50:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[fetch_user]
@userId INT
AS 
begin
SELECT * from dbo.users where userid = @userId 
end
GO
