USE [homegenie]
GO
/****** Object:  StoredProcedure [dbo].[sp_get_mails]    Script Date: 05-06-2024 19:50:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_get_mails] 
as
BEGIN
SELECT EMAIL FROM USERS
END
GO
