USE [homegenie]
GO
/****** Object:  StoredProcedure [homeGenie].[insert_booking]    Script Date: 05-06-2024 19:50:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE     PROCEDURE [homeGenie].[insert_booking]
@user_id int,
@location VARCHAR(MAX),
@address VARCHAR(MAX),
@time_slot VARCHAR(MAX),
@date DATE
AS
BEGIN
	DECLARE @product_id INT, @category_id INT
    
    SELECT TOP 1
        @product_id = product_id,
        @category_id = category_id
    FROM
        homeGenie.cart
    WHERE
        user_id = @user_id
		DECLARE @assignee INT; 
	select  @assignee = u.userid from 
	homeGenie.categories c INNER JOIN homeGenie.services s ON c.service_id = s.id 
	inner join dbo.roles r on r.id = s.role_id inner join dbo.users u
	on u.role_id =r.id inner join homeGenie.bookings b on b.user_id = u.userid
	where b.location = u.location  


    INSERT INTO homeGenie.bookings (user_id, product_id, location,address,time_slot, date,category_id,assignee)
    VALUES (@user_id, @product_id, @location,@address,@time_slot, @date,@category_id,@assignee)

	delete from homeGenie.cart where user_id = @user_id 
END


select * from homeGenie.cart








GO
