USE [homegenie]
GO
/****** Object:  Table [homeGenie].[categories]    Script Date: 05-06-2024 19:50:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [homeGenie].[categories](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[service_id] [int] NULL,
	[category_name] [varchar](200) NULL,
	[price] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [homeGenie].[categories]  WITH CHECK ADD FOREIGN KEY([service_id])
REFERENCES [homeGenie].[services] ([id])
GO
