USE [homegenie]
GO
/****** Object:  Table [homeGenie].[review_ratings]    Script Date: 05-06-2024 19:50:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [homeGenie].[review_ratings](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NULL,
	[service_id] [int] NULL,
	[product_id] [int] NULL,
	[worker_id] [int] NULL,
	[content] [varchar](max) NULL,
	[rating] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [homeGenie].[review_ratings]  WITH CHECK ADD FOREIGN KEY([product_id])
REFERENCES [homeGenie].[products] ([id])
GO
ALTER TABLE [homeGenie].[review_ratings]  WITH CHECK ADD FOREIGN KEY([service_id])
REFERENCES [homeGenie].[services] ([id])
GO
ALTER TABLE [homeGenie].[review_ratings]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([userid])
GO
ALTER TABLE [homeGenie].[review_ratings]  WITH CHECK ADD FOREIGN KEY([worker_id])
REFERENCES [dbo].[users] ([userid])
GO
