USE [homegenie]
GO
/****** Object:  StoredProcedure [homeGenie].[delete_cart_item]    Script Date: 05-06-2024 19:50:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/******************************
* Store Procedure : dbo.delete_note
* Author      : ANJALA
* Date        :  28/1/24
* Description     : Script to delete a item in cart
* Test Code      : EXEC dbo.delete_cart_item
* Revision      :
******************************/
create   PROCEDURE [homeGenie].[delete_cart_item]
@cart_id INT
AS
BEGIN
    UPDATE homeGenie.cart
	SET
	active_yn=0
    WHERE
        id = @cart_id
        AND active_yn = 1;
END
GO
