USE [homegenie]
GO
/****** Object:  StoredProcedure [homeGenie].[insert_Services]    Script Date: 05-06-2024 19:50:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE     PROCEDURE [homeGenie].[insert_Services]
    @service_name VARCHAR(200)
AS
BEGIN
    DECLARE @new_slug NVARCHAR(MAX);
    SET @new_slug = CONCAT(@service_name, '_', NEWID());

    INSERT INTO homeGenie.services (service_name,slug)
    VALUES (@service_name,LOWER(@new_slug));
END
GO
