USE [homegenie]
GO
/****** Object:  StoredProcedure [homeGenie].[sp_fetch_products]    Script Date: 05-06-2024 19:50:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



/******************************
* Store Procedure : medium.sp_fetch_all_blogs
* Author      : Anjala
* Date        :  10/23/2023
* Description     : Script to fetch products
* Test Code      : EXEC homeGenie.sp_fetch_products
* Revision      : 
******************************/
CREATE         PROCEDURE [homeGenie].[sp_fetch_products]
AS
BEGIN
	SELECT top 4 p.id,p.product_name,p.product_price,r.rating
	FROM homeGenie.products p
	left Join homeGenie.review_ratings r
	ON p.id=r.product_id
END
GO
