USE [homegenie]
GO
/****** Object:  StoredProcedure [homeGenie].[sp_fetch_services]    Script Date: 05-06-2024 19:50:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE     PROCEDURE [homeGenie].[sp_fetch_services]
AS
BEGIN
	SELECT s.id,s.service_name,s.slug,r.rating
	FROM homeGenie.services s
	left Join homeGenie.review_ratings r
	ON s.id=r.service_id
END
GO
