USE [homegenie]
GO
/****** Object:  StoredProcedure [homeGenie].[fetch_all_bookings]    Script Date: 05-06-2024 19:50:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create     PROCEDURE [homeGenie].[fetch_all_bookings]
AS
BEGIN
    SELECT user_id,b.category_id,product_id,location,address,time_slot,date,active_yn,c.category_name,c.price,p.product_name,p.product_price,b.date
	FROM homeGenie.bookings b
	INNER JOIN homeGenie.categories c 
	ON b.category_id=c.id
	INNER JOIN homeGenie.products p
	ON b.product_id=p.id
END






GO
