USE [homegenie]
GO
/****** Object:  StoredProcedure [homeGenie].[fetchCart]    Script Date: 05-06-2024 19:50:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE           procedure [homeGenie].[fetchCart] 
@userId INT
AS
BEGIn
SELECT DISTINCT c.user_id , c.category_id ,p.product_price ,c.id,   s.price ,p.id,c.quantity,p.product_name ,
s.category_name FROM homeGenie.cart c  
left JOIN 
 homeGenie.categories s on c.category_id = s.id left join 
 homeGenie.products p on   c.product_id = p.id where c.user_id = @userId
END
GO
