USE [homegenie]
GO
/****** Object:  Table [homeGenie].[cart]    Script Date: 05-06-2024 19:50:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [homeGenie].[cart](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NULL,
	[product_id] [int] NULL,
	[active_yn] [binary](1) NULL,
	[quantity] [int] NULL,
	[category_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [homeGenie].[cart] ADD  DEFAULT ((1)) FOR [active_yn]
GO
ALTER TABLE [homeGenie].[cart]  WITH CHECK ADD FOREIGN KEY([category_id])
REFERENCES [homeGenie].[categories] ([id])
GO
ALTER TABLE [homeGenie].[cart]  WITH CHECK ADD FOREIGN KEY([product_id])
REFERENCES [homeGenie].[products] ([id])
GO
ALTER TABLE [homeGenie].[cart]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([userid])
GO
