USE [homegenie]
GO
/****** Object:  StoredProcedure [homeGenie].[sp_fetch_review]    Script Date: 05-06-2024 19:50:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/******************************
* Store Procedure : medium.sp_fetch_all_blogs
* Author      : Anjala
* Date        :  10/23/2023
* Description     : Script to fetch services
* Test Code      : EXEC homeGenie.sp_fetch_review
* Revision      : 
******************************/
CREATE       PROCEDURE [homeGenie].[sp_fetch_review]
AS
BEGIN
	SELECT r.content,r.rating,u.username
	FROM homeGenie.review_ratings r
	Inner Join dbo.users u
	ON r.user_id=u.userid
END
GO
