USE [homegenie]
GO
/****** Object:  StoredProcedure [homeGenie].[fetch_bookings]    Script Date: 05-06-2024 19:50:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/******************************
* Store Procedure : 
* Author      : ANJALA
* Date        :  28/1/24
* Description     : Script to delete a item in cart
* Test Code      : EXEC homeGenie.fetch_bookings 3
* Revision      :
******************************/
CREATE       PROCEDURE [homeGenie].[fetch_bookings]
@user_id INT
AS
BEGIN
    SELECT user_id,category_id,product_id,location,address,time_slot,
	date,active_yn,c.category_name,c.price,p.product_name,p.product_price,b.date
	FROM homeGenie.bookings b
	left JOIN homeGenie.categories c 
	ON b.category_id=c.id
	left JOIN homeGenie.products p
	ON b.product_id=p.id
	WHERE user_id=@user_id
END





GO
