USE [homegenie]
GO
/****** Object:  StoredProcedure [homeGenie].[sp_fetch_categories]    Script Date: 05-06-2024 19:50:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE     PROCEDURE [homeGenie].[sp_fetch_categories]
@Service_id Int
AS
BEGIN
	SELECT c.category_name,c.price,c.id
	FROM homeGenie.categories c
	Where c.service_id=@Service_id
END
GO
