USE [homegenie]
GO
/****** Object:  Table [homeGenie].[bookings]    Script Date: 05-06-2024 19:50:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [homeGenie].[bookings](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NULL,
	[service_id] [int] NULL,
	[product_id] [int] NULL,
	[location] [varchar](max) NULL,
	[address] [varchar](max) NULL,
	[time_slot] [varchar](max) NULL,
	[date] [datetime] NULL,
	[active_yn] [binary](1) NULL,
	[category_id] [int] NULL,
	[assignee] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [homeGenie].[bookings] ADD  DEFAULT ((1)) FOR [active_yn]
GO
ALTER TABLE [homeGenie].[bookings]  WITH CHECK ADD FOREIGN KEY([assignee])
REFERENCES [dbo].[users] ([userid])
GO
ALTER TABLE [homeGenie].[bookings]  WITH CHECK ADD FOREIGN KEY([product_id])
REFERENCES [homeGenie].[products] ([id])
GO
ALTER TABLE [homeGenie].[bookings]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([userid])
GO
ALTER TABLE [homeGenie].[bookings]  WITH CHECK ADD  CONSTRAINT [FK_Bookings_CategoryID] FOREIGN KEY([category_id])
REFERENCES [homeGenie].[categories] ([id])
GO
ALTER TABLE [homeGenie].[bookings] CHECK CONSTRAINT [FK_Bookings_CategoryID]
GO
