USE [homegenie]
GO
/****** Object:  StoredProcedure [homeGenie].[insert_products]    Script Date: 05-06-2024 19:50:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE       PROCEDURE [homeGenie].[insert_products]
    @product_name VARCHAR(200),
	@product_price INT
AS
BEGIN
    DECLARE @new_slug NVARCHAR(MAX);
    SET @new_slug = CONCAT(@product_name, '_', NEWID());

    INSERT INTO homeGenie.products(product_name,product_price,slug)
    VALUES (@product_name,@product_price,LOWER(@new_slug));
END
GO
