USE [homegenie]
GO
/****** Object:  StoredProcedure [homeGenie].[addToCart]    Script Date: 05-06-2024 19:50:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE     procedure [homeGenie].[addToCart]
@user_id INT,
@category_id INT = NULL,
@product_id INT = NULL,
@quantity INT = 1
AS 
BEGIN
INSERT INTO homeGenie.cart(user_id , category_id , product_id,quantity) VALUES
(@user_id , @category_id , @product_id , @quantity)
END

GO
