<!-- <h2>Products</h2>
<div class="border border-2 m-3 " *ngFor="let c of cart">

  <p>{{c.product_name}}</p>
  <p>{{c.service_name}}</p>
  <p>{{c.quantity}}</p>
</div> -->

<div>
<div class="container">
    <h2>Shopping Cart</h2>
    <div class="pro9duct-info">
        <label for="product-title">Product Title:</label>
        <span id="product-title">Your Product Title</span>
    </div>
    <div class="product-info">
        <label for="price">Price:</label>
        <span id="price">$10.00</span>
    </div>
    <div class="product-info">
        <label for="quantity">Quantity:</label>
        <input type="number" id="quantity" name="quantity" min="1" value="1">
    </div>
    <div>
        <input class="mx-2" type="submit" value="Update Cart">
        <input type="submit" value="Remove from Cart">
    </div>
<h2>Products</h2>
<div class="border border-2 m-3" *ngFor="let c of cart">
  <p>{{ c.product_name }}</p>
  <p>{{ c.category_name }}</p>
  <p>{{ c.price }}</p>
  <p>{{ c.product_price }}</p>
  <p>{{ c.service_name }}</p>
  <p>{{ c.quantity }}</p>
</div>

</div>


