<!-- <h2>Products</h2>
<div class="border border-2 m-3 " *ngFor="let c of cart">

  <p>{{c.product_name}}</p>
  <p>{{c.service_name}}</p>
  <p>{{c.quantity}}</p>
</div> -->

<div>
<div class="container">
    <h2 class="text-center text-success">Your Shopping Cart</h2>
    <div class="product-info text-center">
       

    <div *ngFor="let c of cart">
    <div class="container"  >
    <div class="product-info" >
      <label for="product-title">Product Title:</label>
      <span id="product-title">{{ c.category_name }}</span>
      <span id="product-title">{{ c.product_name }}</span>
    </div>
    <div class="product-info">
      <label for="price">Price:</label>
      <span id="price">{{ c.price }} {{ c.product_price }}</span>
    </div>
    <div class="product-info">
      <label for="quantity">Quantity:</label>
      <input
        type="number"
        id="quantity"
        name="quantity"
        min="1"
        value="{{ c.quantity }}"
      />
    </div>
    <div>
      <i class="fas fa-3 fa-trash"> <button type="submit" (click)="deleteItem(c)" value="Remove from Cart"></button></i>
    </div>
  </div>
</div>
  <h4 class="text-center">Total : {{ this.total }}</h4>
  <div class="text-center">
    <button class="btn btn-success" [routerLink]="['/booking']" >Checkout</button>
</div>

