<div class="small-container" >
    <div class="row" >
        <div class="col-3" *ngFor="let rating of ratings">
            <i class="fa fa-quote-left" ></i>
            <p>{{rating.content}}</p>
            <div class="rating">
                <i class="fa fa-star" ></i>
                <i class="fa fa-star" ></i>
                <i class="fa fa-star" ></i>
                <i class="fa fa-star" ></i>
                <i class="fa fa-star-o" ></i>
            </div>
            <img src="../../../assets/images/user-1.png">
            <h3>{{rating.username}}</h3>
        </div>
    </div>
</div>