<form [formGroup]="addWorkForm">
  <h2>Add Work User</h2>
  <label for="username">Username:</label>
  <input
    type="text"
    formControlName="username"
    id="username"
    name="username"
    required
  />

  <br />

  <label for="password">Email:</label>
  <input
    type="email"
    formControlName="email"
    id="email"
    name="email"
    required
  />

  <br />

  <label for="password">Qualification:</label>
  <input
    type="qualification"
    id="qualification"
    formControlName="qualification"
    name="qualification"
    required
  />

  <br />
  <label for="email">Age:</label>
  <input type="age" id="age" formControlName="age" name="age" required />

  <br />
  <label for="email">DOB:</label>
  <input type="dob" id="dob" formControlName="dob" name="dob" required />
  <label for="email">Year of Experience:</label>
  <input
    type="yearofexp"
    id="yearofexp"
    formControlName="yearofexp"
    name="yearofexp"
    required
  />

  <br />
  <div class="text-center">
    <button
      style="background-color: #268496"
      class="text-center btn btn-success"
      type="submit"
      (click)="onSubmit()"
      value="Register"
    >
      Register Yourself
    </button>
  </div>
</form>
