<nav class="navbar" data-navbar>
  <ul class="navbar-list">
    <li class="navbar-item">
      <a href="#home" class="navbar-link" data-nav-link>Home</a>
    </li>
    <li class="navbar-item">
      <a href="#shop" class="navbar-link" data-nav-link>Shop</a>
    </li>
    <li class="navbar-item">
      <a href="#" class="navbar-link" data-nav-link>Collections</a>
    </li>
    <li class="navbar-item">
      <a href="#" class="navbar-link" data-nav-link>Blogs</a>
    </li>
    <li class="navbar-item">
      <a href="#" class="navbar-link" data-nav-link>Contact</a>
    </li>
  </ul>
  <a href="#" class="navbar-action-btn">Log In</a>
</nav>
