<div class="container mt-5">
  <form [formGroup]="loginForm" (submit)="submit()">
  <h2>Login</h2>
    <div class="form-group">
      <label for="username">Username:</label>
      <input
        type="text"
        formControlName="username"
        id="username"
        required
      />
    </div>

    <div class="form-group">
      <label for="password">Password:</label>
      <input
        type="password"
        formControlName="password"
        id="password"
        name="password"
        required
      />
    </div>
    <a routerLink="/forgot-password">forgot password</a>
    <div class="text-center">
      <button (click)="submit()" style="background-color: #268496;" class="text-center btn btn-success" type="submit">Login</button>
    </div>
  </form>
</div>

